# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# NeoForge / NeoGradle dev runs
runs
run
run-data

# NeoGradle generated workspace
forge.exc
forge.sas
forge.srg
neoforged_logo.png
mcplogo.png
url.png

# Files from MDK
*changelog.txt
